@model DataProcessingExperiment.Models.ViewModels.UploadViewModel

@{ ViewBag.Title = "Upload"; }

<section class="row">
    <div class="col-lg-12">
        <article id="uploadForm">
            <form action="@Url.Action("Upload", "Home")" method="POST" class="form-horizontal" enctype="multipart/form-data">

                @Html.AntiForgeryToken()

                <header>
                    <strong>UPLOAD FILE</strong>
                </header>

                <hr />

                <p id="uploadResult" class="text-danger"></p>

                <div class="form-group file-input">
                    <div class="col-md-2">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i><span> Select file...</span>
                            <input id="fileSelector" name="File" type="file" accept=".csv" />
                        </span>
                    </div>
                    <div class="col-md-10">
                        <textarea id="allFileNames" name="FileName" class="form-control file-name" rows="4" readonly></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <span id="progressIndicator">
                            <img src="../../Images/ajax-loader.gif" alt="" title="" />
                            <br /><br />
                        </span>
                        <input id="fileUpload" type="button" value="Upload" class="btn btn-primary" />
                    </div>
                </div>

            </form>
        </article>
    </div>
</section>

@section pageScripts {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    @Scripts.Render("~/bundles/fileupload")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#fileUpload").prop("disabled", true);
            FileUploadDemo.prototype.handleFileUpload();
        });
    </script>
}